nav a{
    text-decoration: none;
    margin: 20px;
    letter-spacing: 2px;
    color: black;
    font-weight: bold;
}
.col-3{
    font-size: 22px;
  }
.lang {
    height: auto;
    display: flex;
    
}
.lang {
    height: auto;
    width: 250px;
    margin: 32px;
}
.lang img {
    border-radius: 8px;
    padding: 10px;
}